@charset "utf-8";
/* CSS Document */
*
{
	font-family:"Nexa Light", Lato;
}
#top
{
background-color:#202020;
height:80px;		
}

a
{
	text-decoration:none;
}

#headfont
{
	font-family:Nexa Light, Lato;
}

#iconimg
{

margin-top:3px;	
}

#toptext
{
	color:#FFF;
	font-family:lato;
	font-weight:100;
	font-size:20px;
	line-height:40px;
	text-align:right;
	margin-right:5px;
	
}

#a
{
	
	margin-top:5px;
	margin-left:5px;
	
}

#heading
{
	text-align:center;
	font-family:"Nexa Light", Lato;
	font-size:50px;
}

#intro
{
text-align:center;
font-family:"Nexa Light", Lato;
}

#para1
{
	font-family:"Nexa Light", Lato;
}

#para2
{
	font-family:"Nexa Light", Lato;
}

#heading1
{
	text-align:center;
	font-family:"Nexa Light", Lato;
	font-size:50px;
}

#duh
{
	text-align:center;
}

#pf
{
background-color:#333;
height:300px;
background-image:url(../Images/fbg1.jpg);	
}

#bottom
{
	background-color:#111;
	height:60px;
}

#footlogo
{
	width:110px;
	height:140px;
	margin-left:80px;
	margin-top:90px;
}

#about
{
	text-align:center;
	color:#FFF;
	margin-top:85px;
}

#li
{
	text-align:center;
	color:#FFF;
	list-style:none;
	
}

a
{
	text-decoration:none;
	color:#FFF;
}

#l1
{
	margin-left:50px;
}

#icons
{
	margin-top:20px;
	
}

#follow
{
	color:#FFF;
	text-align:center;
	margin-top:40px;
}

#aboutkate
{
	color:#333;
	text-align:justify;
}

#border1
{
	border:1px solid #000;
	border-radius:10px;
	margin:10px;
	width:368px;
	padding:40px;
}

#boxh
{
	text-align:center;
	
	
}

a:hover
{
	text-decoration:none;
	color:#666;
	
}





















* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


















